html {
	height:100vh;
	width:100vw;
	box-sizing: border-box;
	background-image:url('assets/dojo.jpg');
	background-size:cover;
}

*, *:before, *:after {
	box-sizing:inherit;
	margin:0;
}

.catImg {
	position:absolute;
	background-size:cover;
	min-width:30vmin;
	min-height:30vmin;
}

#eksCat {
	background-image:url('assets/pusheen.png');
}

#ohCat {
	background-image:url('assets/nyan.png');
}

#greeting {
	position:absolute;
	top:25vh;
	width:100vw;
	text-align:center;
	font-size:5vw;
}
	


#board-container {
	visibility:hidden;
	position:absolute;
	background-color:transparent;
	min-width:70vmin;
	min-height:70vmin;
}

.board-square {
	visibility:inherit;
	position:absolute;
	border-width:.5vh;
	border-style:solid;
	border-color:black;
	background-color:transparent;
	background-size:cover;
}

#\30 0, #\31 0, #\32 0 {
	border-top-width:0;
}

#\30 0, #\30 1, #\30 2 {
	border-left-width:0;
}

#\30 2, #\31 2, #\32 2 {
	border-bottom-width:0;
}

#\32 1, #\32 0, #\32 2 {
	border-right-width:0;
}
